.title {
    font-family: var(--font-family-h2);
    margin-left: 10px;
}

.form {
    margin: 20px 10px 5px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.form__name, .form__email, .form__subject, .form__message {
    border-radius: 10px;
    width: 400px;
}

.form__message {
    height: 250px;
}

.form__button {
    width: 150px;
    margin-top: 20px;
    
}
