/*
Name: Mauro A Vicens
Github: https://github.com/blackegledhs
Capstone Project
Created: for App Academy
Section: HTML & CSS
*/

/*Styles for all pages*/
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&display=swap');
@import url('home.css');
/*
For Brand
.yellowtail-regular {
  font-family: "Yellowtail", cursive;
  font-weight: 400;
  font-style: normal;

  For titles
  .fugaz-one-regular {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;

For paragraphs
.cherry-cream-soda-regular {
  font-family: "Cherry Cream Soda", system-ui;
  font-weight: 400;
  font-style: normal;
}

*/
:root {
    --font-family-h1: "Yellowtail", cursive;
    --font-family-h2: "Fugaz One", sans-serif;
    --font-family-text: "CherryCream Soda", system-ui;

    --topbar-gradient: linear-gradient(to left, #000000, #6e6e6e,#b6b6b6,#ffffff,#b6b6b6,#6e6e6e, #000000);
    --footer-gradient: linear-gradient(to left, #000000, #6e6e6e);
}

/*============ HEADER =================================================*/
.topbar__social {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}

.topbar__social--subtitle {
    font-family: var(--font-family-h2);
    font-size: 1.2em;
}

.topbar__social--icons {
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
    list-style: none;
}

.topbar__social--icons a {
    text-decoration: none;
    padding: 0 8px;
    color: #000000;
}

.topbar__brand {
    margin: 0 10%;
    padding: 10px;
    font-family: var(--font-family-h1);
    font-size: 7em;
    text-align: center;
    border-top: 8px solid;
    border-image-source: var(--topbar-gradient);
    border-bottom: 8px solid;
    border-image-source: var(--topbar-gradient);
    border-image-slice: 1;
}

.topbar__navbar {
    margin: 0 10%;
    padding: 8px;
    border-bottom: 4px dashed;
}

.topbar__navbar--list {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.topbar__navbar--list--item {
    text-decoration: none;
    color: #000000;
    font-family: var(--font-family-h2);
    font-size: 1.2em;
}

.topbar__navbar--list--item:hover {
    color: #6e6e6e;
}

/*============= MAIN FOR ALL PAGE =================================*/

.container {
    background: #ececec;
    margin: 10px 13% 0;
    padding: 3px 0;
    border-radius: 10px;
}

/*============== FOOTER ===========================================*/
.line {
    border-top: 4px dashed;
    margin: 2% 10% 0;
}

.footer {
    margin: 0 10%;
    display: flex;
    justify-content: space-around;
}

.footer__box1, .footer__box2, .footer__box3 {
    margin: 5% 1%;
    border-top: 3px solid;
    border-image-source: var(--footer-gradient);
    border-image-slice: 1;
    border-left: 3px solid;
    border-bottom: 3px solid;
    border-right: 3px solid;
    padding: 8px;
}

.footer2 {
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
}

.footer2__copyright {
    font-family: var(--font-family-h2);
    font-size: 1.2em;
}

.footer2__links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-text);
}

.footer2__links--item {
    text-decoration: none;
    margin: 0 9px;
    color: #000000;
}

.footer2__links--item:hover {
    color: #6e6e6e;
}
